<template>
	<el-card>
		<el-tabs>
			<el-tab-pane label="ASSET INFORMATION">
				<el-row :gutter="30">
					<el-col :span="16">
						<table class="table table-striped table-sm">
							<tbody>
								<tr>
									<td style="width: 200px">Tag Number</td>
									<td>{{ asset.tag_number }}</td>
								</tr>
								<tr>
									<td>Name</td>
									<td>{{ asset.name }}</td>
								</tr>
								<tr>
									<td>Trademark</td>
									<td>{{ asset.trademark }}</td>
								</tr>
								<tr>
									<td>Model</td>
									<td>{{ asset.model }}</td>
								</tr>
								<tr>
									<td>Color</td>
									<td>{{ asset.color }}</td>
								</tr>
								<tr>
									<td>Serial Number</td>
									<td>{{ asset.serial_number }}</td>
								</tr>
								<tr>
									<td>Part Number</td>
									<td>{{ asset.part_number }}</td>
								</tr>
								<tr>
									<td>Lifetime</td>
									<td>{{ asset.lifetime }}</td>
								</tr>
								<tr>
									<td>Price</td>
									<td>{{ asset.price }}</td>
								</tr>
								<tr>
									<td>Value</td>
									<td>{{ asset.value }}</td>
								</tr>
								<tr>
									<td>Year</td>
									<td>{{ asset.year }}</td>
								</tr>
								<tr>
									<td>Type</td>
									<td>{{ asset.type }}</td>
								</tr>
								<tr>
									<td>Uselife</td>
									<td>{{ asset.uselife }}</td>
								</tr>
								<tr>
									<td>Category</td>
									<td>
										{{ asset.asset_category ? asset.asset_category.name : '' }}
									</td>
								</tr>
								<tr>
									<td>Vendor</td>
									<td>{{ asset.vendor ? asset.vendor.name : '' }}</td>
								</tr>
								<tr>
									<td>Location</td>
									<td>{{ asset.location ? asset.location.name : '' }}</td>
								</tr>
								<tr>
									<td>Unit</td>
									<td>{{ asset.unit ? asset.unit.name : '' }}</td>
								</tr>
								<tr>
									<td>Status</td>
									<td>
										{{ asset.status ? asset.status.code : '' }} -
										{{ asset.status ? asset.status.name : '' }}
									</td>
								</tr>
								<tr>
									<td>Remarks</td>
									<td>{{ asset.remark }}</td>
								</tr>
							</tbody>
						</table>
					</el-col>
					<el-col :span="8">
						<el-collapse>
							<el-collapse-item title="QR CODE">
								<div class="text-center">
									<img :src="asset.qr_code_url" class="mb-3" alt="" />
								</div>
							</el-collapse-item>
							<el-collapse-item title="Picture">
								<img :src="asset.picture_url" class="img-fluid" alt="" />
							</el-collapse-item>
						</el-collapse>
					</el-col>
				</el-row>
			</el-tab-pane>

			<el-tab-pane label="ASSET MOVEMENT">
				<el-table
					stripe
					height="calc(100vh - 240px)"
					v-loading="loading"
					:data="tableData"
					@sort-change="sortChange"
					@filter-change="filterChange"
					:default-sort="{ prop: 'name', order: 'ascending' }"
				>
					<el-table-column
						type="index"
						label="#"
						:index="pagination.from"
					></el-table-column>

					<el-table-column
						min-width="100"
						prop="date"
						label="Tanggal"
						sortable="custom"
					></el-table-column>

					<el-table-column
						min-width="150"
						prop="number"
						label="Nomor Berita Acara"
					>
						<template slot-scope="scope">
							<router-link :to="`/asset-movement/${scope.row.id}`">
								{{ scope.row.number }}
							</router-link>
						</template>
					</el-table-column>

					<el-table-column
						label="Pihak I"
						prop="pihak1.nama"
						min-width="150"
					></el-table-column>
					<el-table-column
						label="Pihak II"
						prop="pihak2.nama"
						min-width="150"
					></el-table-column>

					<el-table-column
						min-width="200"
						prop="note"
						label="Note"
					></el-table-column>

					<el-table-column
						min-width="100"
						prop="user"
						label="User"
					></el-table-column>
				</el-table>

				<br />

				<el-row>
					<el-col :span="20">
						<el-pagination
							background
							layout="total, sizes, prev, pager, next"
							:current-page="pagination.current_page"
							@current-change="currentChange"
							@size-change="sizeChange"
							:page-size="Number(pagination.per_page)"
							:page-sizes="pageSizes"
							:total="pagination.total"
						></el-pagination>
					</el-col>
					<el-col :span="4" class="text-right">
						<small>
							Showing {{ pagination.from }} - {{ pagination.to }} of
							{{ pagination.total }}
						</small>
					</el-col>
				</el-row>
			</el-tab-pane>
		</el-tabs>
	</el-card>
</template>

<script>
import table from '~/mixins/table'

export default {
	mixins: [table],

	async asyncData({ params, $axios }) {
		const { data: asset } = await $axios.get(`/api/asset/${params.id}`)
		return { asset }
	},

	data() {
		return {
			url: '/api/assetMovement',
		}
	},

	methods: {
		fetchData() {
			const params = {
				keyword: this.keyword,
				page: this.pagination.current_page,
				sort_field: this.sort_field,
				sort_direction: this.sort_direction,
				asset_id: this.$route.params.id,
				...this.filters,
				...this.pagination,
			}

			this.loading = true

			this.$axios
				.get(this.url, { params })
				.then((r) => {
					this.tableData = r.data.data
					const { current_page, from, to, total, per_page } = r.data.meta
					this.pagination = { current_page, from, to, total, per_page }
				})
				.catch((e) => {
					this.$message({
						message: e.response.data.message,
						type: 'error',
					})
				})
				.finally(() => (this.loading = false))
		},
	},
}
</script>
