<template>
	<el-card>
		<el-row>
			<el-col :span="4">
				<h4 class="text-primary" style="margin-top: 10px">ASSET</h4>
			</el-col>

			<el-col :span="20">
				<el-form inline @submit.native.prevent style="text-align: right">
					<el-form-item>
						<el-dropdown type="primary">
							<el-button type="primary" size="mini" icon="el-icon-s-tools">
								ACTION <i class="el-icon-arrow-down el-icon--right"></i>
							</el-button>
							<el-dropdown-menu slot="dropdown">
								<el-dropdown-item
									@click.native.prevent="addData"
									icon="el-icon-plus"
									>New Asset</el-dropdown-item
								>
								<el-dropdown-item
									@click.native.prevent="triggerOpenFile"
									icon="el-icon-upload2"
								>
									Import Asset
								</el-dropdown-item>
								<el-dropdown-item
									@click.native.prevent="printLabels"
									icon="el-icon-printer"
									>Print Label</el-dropdown-item
								>
								<el-dropdown-item
									@click.native.prevent="exportData('pdf')"
									icon="el-icon-download"
									>Export to PDF</el-dropdown-item
								>
								<el-dropdown-item
									@click.native.prevent="exportData('xls')"
									icon="el-icon-download"
									>Export to Excel</el-dropdown-item
								>
								<el-dropdown-item
									@click.native.prevent="exportData('csv')"
									icon="el-icon-download"
									>Export to CSV</el-dropdown-item
								>
							</el-dropdown-menu>
						</el-dropdown>
						<input
							type="file"
							style="display: none"
							id="input-file"
							@change="readFile"
						/>
					</el-form-item>

					<el-form-item>
						<el-input
							prefix-icon="el-icon-search"
							v-model="keyword"
							placeholder="Search"
							size="small"
							clearable
							@change="
								() => {
									this.pagination.current_page = 1
									fetchData()
								}
							"
						></el-input>
					</el-form-item>
				</el-form>
			</el-col>
		</el-row>

		<el-table
			stripe
			height="calc(100vh - 240px)"
			v-loading="loading"
			:data="tableData"
			@sort-change="sortChange"
			@filter-change="filterChange"
			:default-sort="{ prop: 'name', order: 'ascending' }"
		>
			<el-table-column
				type="index"
				label="#"
				:index="pagination.from"
			></el-table-column>

			<el-table-column min-width="180" prop="tag_no" label="Tag Number">
			</el-table-column>

			<el-table-column
				min-width="150"
				prop="name"
				label="Name"
				sortable="custom"
				show-overflow-tooltip
			>
				<template slot-scope="scope">
					<router-link :to="`/asset/${scope.row.id}`">
						{{ scope.row.name }}
					</router-link>
				</template>
			</el-table-column>

			<el-table-column
				min-width="150"
				prop="trademark"
				label="Trademark"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="model"
				label="Model"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="color"
				label="Color"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="serial_number"
				label="Serial Number"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				label="Part Number"
				prop="part_number"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column min-width="100" label="Qty" prop="qty"></el-table-column>

			<el-table-column
				min-width="150"
				prop="category"
				label="Category"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="location"
				label="Location"
				show-overflow-tooltip
				:filters="locationFilter"
				column-key="location_id"
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="unit"
				label="Unit"
				show-overflow-tooltip
				:filters="unitFilter"
				column-key="unit_id"
			></el-table-column>

			<el-table-column
				min-width="150"
				label="Lifetime"
				prop="lifetime"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="price"
				label="Price"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="value"
				label="Value"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="year"
				label="Year"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="type"
				label="Type"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="uselife"
				label="Uselife"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				min-width="150"
				prop="vendor"
				label="Vendor"
				show-overflow-tooltip
			></el-table-column>

			<el-table-column
				fixed="right"
				min-width="100"
				prop="status"
				label="Status"
				show-overflow-tooltip
				header-align="center"
				align="center"
			></el-table-column>

			<el-table-column
				fixed="right"
				width="60"
				header-align="center"
				align="center"
			>
				<template slot="header">
					<el-button
						type="text"
						icon="el-icon-refresh"
						@click="refresh"
					></el-button>
				</template>

				<template slot-scope="scope">
					<el-dropdown>
						<span class="el-dropdown-link">
							<i class="el-icon-more"></i>
						</span>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item
								icon="el-icon-printer"
								@click.native.prevent="printLabel(scope.row)"
								>Print Label</el-dropdown-item
							>
							<el-dropdown-item
								icon="el-icon-edit"
								@click.native.prevent="editData(scope.row)"
								>Edit</el-dropdown-item
							>
							<el-dropdown-item
								icon="el-icon-delete"
								@click.native.prevent="deleteData(scope.row.id)"
								>Delete</el-dropdown-item
							>
						</el-dropdown-menu>
					</el-dropdown>
				</template>
			</el-table-column>
		</el-table>

		<br />

		<el-row>
			<el-col :span="20">
				<el-pagination
					background
					layout="total, sizes, prev, pager, next"
					:current-page="pagination.current_page"
					@current-change="currentChange"
					@size-change="sizeChange"
					:page-size="Number(pagination.per_page)"
					:page-sizes="pageSizes"
					:total="pagination.total"
				></el-pagination>
			</el-col>
			<el-col :span="4" class="text-right">
				<small>
					Showing {{ pagination.from }} - {{ pagination.to }} of
					{{ pagination.total }}
				</small>
			</el-col>
		</el-row>

		<AssetForm
			:show="showForm"
			:model="selectedData"
			:url="url"
			@close="showForm = false"
			@refresh="refresh"
		/>
	</el-card>
</template>

<script>
import table from '~/mixins/table'
import dropdown from '~/mixins/dropdown'
import XLSX from 'xlsx'
import exportFromJson from 'export-from-json'

export default {
	mixins: [table, dropdown],
	data() {
		return {
			url: '/api/asset',
			loading: false,
			sort_field: 'updated_at',
			sort_direction: 'descending',
		}
	},

	methods: {
		exportData(type = 'xls') {
			const params = {
				keyword: this.keyword,
				sort_field: this.sort_field,
				sort_direction: this.sort_direction,
				type,
				...this.filters,
			}

			if (type == 'pdf') {
				const query = new URLSearchParams(params).toString()
				window.open(
					`${this.$axios.defaults.baseURL}/api/asset/export?${query}`,
					'_blank'
				)
				return
			}

			this.loading = true

			this.$axios
				.$get('/api/asset/export', { params })
				.then((data) => {
					exportFromJson({ data, fileName: 'aps-asset', exportType: type })
				})
				.catch((e) => {
					this.$message({
						message: e.response.data.message,
						type: 'error',
					})
				})
				.finally(() => (this.loading = false))
		},

		printLabel(data) {
			window.open(`${this.$axios.defaults.baseURL}/asset/label?id=${data.id}`)
		},

		printLabels() {
			let params = {
				keyword: this.keyword,
				page: this.pagination.current_page,
				sort_field: this.sort_field || 'name',
				sort_direction: this.sort_direction || 'asc',
				...this.filters,
				...this.pagination,
			}

			params = new URLSearchParams(params).toString()
			window.open(`${this.$axios.defaults.baseURL}/asset/label?${params}`)
		},

		triggerOpenFile() {
			const f = document.getElementById('input-file')
			f.click()
		},

		readFile(oEvent) {
			this.loading = true
			var oFile = oEvent.target.files[0]
			var sFilename = oFile.name

			var reader = new FileReader()
			var result = {}

			reader.onload = (e) => {
				var data = e.target.result
				data = new Uint8Array(data)
				var workbook = XLSX.read(data, { type: 'array' })
				var result = {}
				// see the result, caution: it works after reader event is done.
				var res = XLSX.utils
					.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], { header: 1 })
					.filter((r) => !!r[0]) // cuma yg ada datanya

				// remove header
				res.splice(0, 1)

				var dataToImport = res.map((r) => {
					return {
						category: r[2] || '',
						name: r[3] || '',
						trademark: r[5] || '',
						model: r[6] || '',
						color: r[7] || '',
						serial_number: r[8] || '',
						part_number: r[9] || '',
						qty: r[10] || '',
						price: r[11] || '',
						invoice_number: r[12] || '',
						value: r[13] || '',
						lifetime: r[14] || '',
						year: r[15] || '',
						location: r[16] || '',
						unit: r[17] || '',
						uselife: r[18] || '',
						type: r[19] || '',
						vendor: r[20] || '',
						status: r[21] || 'Baik',
						remark: r[22] || '',
					}
				})

				console.log('raw data: ', dataToImport.length)
				this.importData(dataToImport)
			}

			reader.readAsArrayBuffer(oFile)
		},
	},

	mounted() {
		this.getList('/api/locationList', '', 'locationList')
		this.getList('/api/unitList', '', 'unitList')
	},
}
</script>
