<template>
	<el-card>
		<el-row>
			<el-col :span="12">
				<h4 class="text-primary" style="margin-top: 10px">ASSET CATEGORY</h4>
			</el-col>

			<el-col :span="12">
				<el-form inline @submit.native.prevent style="text-align: right">
					<el-form-item>
						<div class="input-group" style="margin-top: 5px; width: 160px">
							<div class="custom-file">
								<input
									type="file"
									class="custom-file-input"
									id="input-file"
									@change="readFile"
								/>
								<label class="custom-file-label" for="input-file"
									>Import File</label
								>
							</div>
						</div>
					</el-form-item>
					<el-form-item>
						<el-button
							type="primary"
							size="mini"
							icon="el-icon-plus"
							@click="addData"
						></el-button>
					</el-form-item>
					<el-form-item>
						<el-input
							prefix-icon="el-icon-search"
							v-model="keyword"
							placeholder="Search"
							size="small"
							clearable
							@change="
								() => {
									this.pagination.current_page = 1
									fetchData()
								}
							"
						></el-input>
					</el-form-item>
				</el-form>
			</el-col>
		</el-row>

		<el-table
			stripe
			height="calc(100vh - 240px)"
			v-loading="loading"
			:data="tableData"
			@sort-change="sortChange"
			@filter-change="filterChange"
			:default-sort="{ prop: 'golongan', order: 'ascending' }"
		>
			<el-table-column
				type="index"
				label="#"
				:index="pagination.from"
        width="100px"
			></el-table-column>

			<el-table-column
				width="120"
				prop="golongan"
				label="Golongan"
				sortable="custom"
			></el-table-column>

			<el-table-column
				width="120"
				prop="bidang"
				label="Bidang"
				sortable="custom"
			></el-table-column>

			<el-table-column
				width="120"
				prop="kelompok"
				label="Kelompok"
				sortable="custom"
			></el-table-column>

			<el-table-column
				width="140"
				prop="sub_kelompok"
				label="Sub Kelompok"
				sortable="custom"
			></el-table-column>

			<el-table-column
				width="170"
				prop="sub_sub_kelompok"
				label="Sub Sub Kelompok"
				sortable="custom"
			></el-table-column>

			<el-table-column
				min-width="200"
				prop="name"
				label="Deskripsi"
				sortable="custom"
			></el-table-column>

			<!-- <el-table-column prop="description" label="Description"></el-table-column> -->

			<el-table-column
				fixed="right"
				width="60"
				header-align="center"
				align="center"
			>
				<template slot="header">
					<el-button
						type="text"
						icon="el-icon-refresh"
						@click="refresh"
					></el-button>
				</template>

				<template slot-scope="scope">
					<el-dropdown>
						<span class="el-dropdown-link">
							<i class="el-icon-more"></i>
						</span>
						<el-dropdown-menu slot="dropdown">
							<el-dropdown-item
								icon="el-icon-edit"
								@click.native.prevent="editData(scope.row)"
								>Edit</el-dropdown-item
							>
							<el-dropdown-item
								icon="el-icon-delete"
								@click.native.prevent="deleteData(scope.row.id)"
								>Delete</el-dropdown-item
							>
						</el-dropdown-menu>
					</el-dropdown>
				</template>
			</el-table-column>
		</el-table>

		<br />

		<el-row>
			<el-col :span="20">
				<el-pagination
					background
					layout="total, sizes, prev, pager, next"
					:current-page="pagination.current_page"
					@current-change="currentChange"
					@size-change="sizeChange"
					:page-size="Number(pagination.per_page)"
					:page-sizes="pageSizes"
					:total="pagination.total"
				></el-pagination>
			</el-col>
			<el-col :span="4" class="text-right">
				<small>
					Showing {{ pagination.from }} - {{ pagination.to }} of
					{{ pagination.total }}
				</small>
			</el-col>
		</el-row>

		<AssetCategoryForm
			:show="showForm"
			:model="selectedData"
			:url="url"
			@close="showForm = false"
			@refresh="refresh"
		/>
	</el-card>
</template>

<script>
import table from '~/mixins/table'
import XLSX from 'xlsx'

export default {
	mixins: [table],
	data() {
		return {
			url: '/api/assetCategory',
		}
	},
	methods: {
		readFile(oEvent) {
			var oFile = oEvent.target.files[0]
			var sFilename = oFile.name

			var reader = new FileReader()
			var result = {}

			reader.onload = (e) => {
				var data = e.target.result
				data = new Uint8Array(data)
				var workbook = XLSX.read(data, { type: 'array' })
				var result = {}
				// see the result, caution: it works after reader event is done.
				var res = XLSX.utils
					.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], { header: 1 })
					.filter((r) => !!r[0]) // cuma yg ada datanya

				// remove header
				res.splice(0, 1)

				var dataToImport = res.map((r) => {
					return {
						golongan: r[0] || '',
						bidang: r[1] || '',
						kelompok: r[2] || '',
						sub_kelompok: r[3] || '',
						sub_sub_kelompok: r[4] || '',
						name: r[5] || '',
					}
				})

				console.log('raw data: ', dataToImport.length)
				this.importData(dataToImport)
			}

			reader.readAsArrayBuffer(oFile)
		},
	},
}
</script>
