<template>
	<el-card style="height: calc(100vh - 80px)">
		<el-row>
			<el-col :span="12">
				<h4 class="text-primary" style="margin-top: 10px">ASSET CATEGORY</h4>
			</el-col>

			<el-col :span="12">
				<el-form inline @submit.native.prevent style="text-align: right">
					<el-form-item>
						<div class="input-group" style="margin-top: 5px; width: 160px">
							<div class="custom-file">
								<input
									type="file"
									class="custom-file-input"
									id="input-file"
									@change="readFile"
								/>
								<label class="custom-file-label" for="input-file"
									>Import File</label
								>
							</div>
						</div>
					</el-form-item>
					<el-form-item>
						<el-button
							type="primary"
							size="mini"
							icon="el-icon-plus"
							@click="addData"
						></el-button>
					</el-form-item>
					<el-form-item>
						<el-input
							prefix-icon="el-icon-search"
							v-model="keyword"
							placeholder="Search"
							size="small"
							clearable
							@change="fetchData"
						></el-input>
					</el-form-item>
				</el-form>
			</el-col>
		</el-row>

		<el-tree
			:data="treeData"
			node-key="id"
			default-expand-all
			:expand-on-click-node="false"
		>
			<span class="custom-tree-node" slot-scope="{ data }">
				<span>[{{ data.code }}] {{ data.name }}</span>
				<el-dropdown>
					<span class="el-dropdown-link">
						<i class="el-icon-more"></i>
					</span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item
							icon="el-icon-edit"
							@click.native.prevent="editData(data)"
						>
							Edit
						</el-dropdown-item>

						<el-dropdown-item
							icon="el-icon-plus"
							@click.native.prevent="editData({ parent_id: data.id })"
						>
							Add Child
						</el-dropdown-item>

						<el-dropdown-item
							icon="el-icon-delete"
							@click.native.prevent="deleteData(data.id)"
						>
							Delete
						</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</span>
		</el-tree>

		<UnitForm
			:show="showForm"
			:model="selectedData"
			:url="url"
			@close="showForm = false"
			@refresh="refresh"
		/>
	</el-card>
</template>

<script>
import table from '~/mixins/table'

export default {
	mixins: [table],
	data() {
		return {
			url: '/api/assetCategory',
			treeData: [],
		}
	},

	methods: {
		fetchData() {
			const params = { keyword: this.keyword }

			this.$axios
				.get(this.url, { params })
				.then((r) => {
					this.treeData = r.data
				})
				.catch((e) => {
					this.$message({
						message: e.response.data.message,
						type: 'error',
					})
				})
		},

		readFile(oEvent) {
			var oFile = oEvent.target.files[0]
			var sFilename = oFile.name

			var reader = new FileReader()
			var result = {}

			reader.onload = (e) => {
				var data = e.target.result
				data = new Uint8Array(data)
				var workbook = XLSX.read(data, { type: 'array' })
				var result = {}
				// see the result, caution: it works after reader event is done.
				var res = XLSX.utils
					.sheet_to_json(workbook.Sheets[workbook.SheetNames[0]], { header: 1 })
					.filter((r) => !!r[0]) // cuma yg ada datanya

				// remove header
				res.splice(0, 1)

				var dataToImport = res.map((r) => {
					return {
						golongan: r[0],
						bidang: r[1],
						kelompok: r[2],
						sub_kelompok: r[3],
						sub_sub_kelompok: r[4],
						name: r[5],
					}
				})

				console.log('raw data: ', dataToImport.length)
				this.importData(dataToImport)
			}

			reader.readAsArrayBuffer(oFile)
		},

		importData(dataToImport) {
			this.loading = true
			this.$axios
				.post('/api/assetCategory/import', { rows: dataToImport })
				.then((r) => {
					this.$message({
						message: r.data.message,
						type: 'success',
					})
					this.fetchData()
				})
				.catch((e) => {
					this.$message({
						message: e.response.data.message,
						type: 'error',
						duration: 10000,
						showClose: true,
					})
				})
				.finally(() => {
					this.loading = false
					document.getElementById('input-file').value = ''
				})
		},
	},
}
</script>


<style>
.custom-tree-node {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding-right: 8px;
}
</style>
