<template>
	<div>
		<el-row :gutter="20">
			<el-col :span="6" v-for="(r, i) in reports" :key="i">
				<el-card>
					<div slot="header" class="text-center">{{ r.status }}</div>
					<h1 class="text-primary text-center">{{ r.jumlah }}</h1>
				</el-card>
			</el-col>
		</el-row>

		<el-card header="ASSET MOVEMENT" class="mt-3">
			<el-table
				stripe
				height="calc(100vh - 360px)"
				v-loading="loading"
				:data="tableData"
				@sort-change="sortChange"
				@filter-change="filterChange"
				:default-sort="{ prop: 'name', order: 'ascending' }"
			>
				<el-table-column
					type="index"
					label="#"
					:index="pagination.from"
				></el-table-column>

				<el-table-column
					min-width="100"
					prop="date"
					label="Date"
					sortable="custom"
				></el-table-column>

				<el-table-column
					min-width="150"
					prop="registration_number"
					label="Registration Number"
				></el-table-column>

				<el-table-column
					min-width="100"
					prop="asset_name"
					label="Asset Name"
				></el-table-column>

				<el-table-column
					min-width="150"
					prop="old_location"
					label="Old Location"
				></el-table-column>

				<el-table-column
					min-width="150"
					prop="new_location"
					label="New Location"
				></el-table-column>

				<el-table-column
					min-width="100"
					prop="old_status"
					label="Old Status"
				></el-table-column>

				<el-table-column
					min-width="100"
					prop="new_status"
					label="New Status"
				></el-table-column>

				<el-table-column
					min-width="200"
					prop="note"
					label="Note"
				></el-table-column>

				<el-table-column
					min-width="100"
					prop="user"
					label="User"
				></el-table-column>
			</el-table>
		</el-card>
	</div>
</template>

<script>
import table from '~/mixins/table'

export default {
	mixins: [table],
	data() {
		return {
			url: '/api/assetMovement',
		}
	},
	async asyncData({ $axios }) {
		const { data: reports } = await $axios.get(`/api/report`)
		return { reports }
	},
}
</script>
