<template>
	<div>
		<el-row :gutter="15">
			<el-col :span="6">
				<BlockCart
					v-bind:jumlah="asset"
					name="Assets"
					icon="el-icon-s-platform"
					class="bg-primary text-white"
				/>
			</el-col>
			<el-col :span="6">
				<BlockCart
					v-bind:jumlah="vendor"
					name="Vendors"
					icon="el-icon-s-cooperation"
					class="bg-success text-white"
				/>
			</el-col>
			<el-col :span="6">
				<BlockCart
					v-bind:jumlah="location"
					name="Locations"
					icon="el-icon-map-location"
					class="bg-danger text-white"
				/>
			</el-col>
			<el-col :span="6">
				<BlockCart
					v-bind:jumlah="unit"
					name="Units"
					icon="el-icon-house"
					class="bg-info text-white"
				/>
			</el-col>
		</el-row>

		<el-row :gutter="15" class="mt-3 mb-3">
			<el-col :span="16">
				<el-card>
					<BarChart title="Total Asset By Category" :data="barchart" />
				</el-card>
			</el-col>

			<el-col :span="8">
				<el-card>
					<PieChart title="Asset Status" :data="piechart1" />
				</el-card>
			</el-col>
		</el-row>

		<el-row :gutter="15">
			<el-col :span="16">
				<el-card>
					<StackedChart
						title="Total Asset By Location"
						:data="stackchart"
						:data2="axis"
					/>
				</el-card>
			</el-col>

			<el-col :span="8">
				<el-card>
					<PieChart title="Asset Unit" :data="piechart2" />
				</el-card>
			</el-col>
		</el-row>

		<el-card :body-style="{ padding: '0' }" class="my-3">
			<GeoChart />
		</el-card>
	</div>
</template>


<script>
import { LMap, LTileLayer, LMarker, LPopup } from 'vue2-leaflet'
export default {
	data() {
		return {
			chart1: [],
			chart2: [4, 5, 6, 2, 3, 4],
			piechart1: [],
			piechart2: [],
			barchart: [],
			barchart2: [],
			axis: [],
			stackchart: [],
			areachart: [],
			asset: '',
			asseticon: 'el-icon-s-platform',
			vendor: '',
			location: '',
			unit: '',
			// latLng: [-6.125042653045127, 106.65289040542851],
			visible: false,
			mapdata: [],
		}
	},
	methods: {
		getData() {
			this.$axios.$get('api/report').then((r) => {
				this.chart1 = r.map((d) => {
					return {
						name: d.status,
						y: d.jumlah,
					}
				})
			})
		},
		getPiecart1() {
			this.$axios.$get('api/report/piechart1').then((r) => {
				this.piechart1 = r.map((d) => {
					//console.log(d);
					return {
						name: d.name,
						y: d.y,
					}
				})
			})
		},
		getPiecart2() {
			this.$axios.$get('api/report/piechart2').then((r) => {
				this.piechart2 = r.map((d) => {
					//console.log(d);
					return {
						name: d.name,
						y: d.y,
					}
				})
			})
		},
		getBarcart() {
			this.$axios.$get('api/report/barchart').then((r) => {
				//console.log(barchart);
				this.barchart = r.map((d) => {
					//console.log(d);
					return {
						name: d.name,
						y: d.y,
						drilldown: d.name,
					}
				})
			})
		},
		getBarcart2() {
			this.$axios.$get('api/report/barchart2').then((r) => {
				this.barchart2 = r.map((d) => {
					return {
						name: d.name,
						y: d.y,
						drilldown: d.name,
					}
				})
			})
		},
		getAreacart() {
			this.$axios.$get('api/report/areachart').then((r) => {
				this.areachart = r.map((d) => {
					return {
						name: d.name,
						data: d.data,
					}
				})
			})
		},
		getStackcart() {
			this.$axios.$get('api/report/stackedchart').then((r) => {
				this.axis = r[0].cat.map((d) => {
					//console.log(d.categoryName)
					return d.categoryName
				})
				this.stackchart = r.map((d) => {
					let item = []
					for (let i = 0; i < d.cat.length; i++) {
						item.push(d.cat[i].qtytotal)
					}

					return {
						name: d.location_name,
						data: item,
					}
				})
			})
		},
		getBoxcart() {
			this.$axios.$get('api/report/boxchart').then((r) => {
				//console.log(r.asset)
				this.asset = r.asset
				this.vendor = r.vendor
				this.location = r.location
				this.unit = r.unit
			})
		},
	},

	mounted() {
		this.getData()
		this.getPiecart1()
		this.getPiecart2()
		this.getBarcart()
		//this.getBarcart2()
		this.getBoxcart()
		//this.getAreacart()
		this.getStackcart()
	},
}
</script>
