<template>
  <el-card style="height:calc(100vh - 80px)" class="text-center d-flex align-content-center flex-wrap justify-content-center">
    <div class="mb-3">
      <i class="el-icon-mobile-phone" style="font-size:300px"></i>
    </div>
    <el-button type="primary" round @click="downloadApp">DOWNLOAD MOBILE APP</el-button>
  </el-card>
</template>

<script>
export default {
  methods: {
    downloadApp() {
      window.open('ams.apk', '_blank');
    }
  }
}
</script>
