<template>
	<el-card style="height: calc(100vh - 80px)">
		<el-row>
			<el-col :span="12">
				<h4 class="text-primary" style="margin-top: 10px">UNIT</h4>
			</el-col>

			<el-col :span="12">
				<el-form inline @submit.native.prevent style="text-align: right">
					<el-form-item>
						<el-button
							type="primary"
							size="mini"
							icon="el-icon-plus"
							@click="addData"
						></el-button>
					</el-form-item>
					<el-form-item>
						<el-input
							prefix-icon="el-icon-search"
							v-model="keyword"
							placeholder="Search"
							size="small"
							clearable
							@change="fetchData"
						></el-input>
					</el-form-item>
				</el-form>
			</el-col>
		</el-row>

		<el-tree
			:data="treeData"
			node-key="id"
			default-expand-all
			:expand-on-click-node="false"
		>
			<span class="custom-tree-node" slot-scope="{ data }">
				<span>[{{ data.code }}][{{ data.cost_center_code }}] {{ data.name }}</span>
				<el-dropdown>
					<span class="el-dropdown-link">
						<i class="el-icon-more"></i>
					</span>
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item
							icon="el-icon-edit"
							@click.native.prevent="editData(data)"
						>
							Edit
						</el-dropdown-item>

						<el-dropdown-item
							icon="el-icon-plus"
							@click.native.prevent="editData({ parent_id: data.id })"
						>
							Add Child
						</el-dropdown-item>

						<el-dropdown-item
							icon="el-icon-delete"
							@click.native.prevent="deleteData(data.id)"
						>
							Delete
						</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</span>
		</el-tree>

		<UnitForm
			:show="showForm"
			:model="selectedData"
			:url="url"
			@close="showForm = false"
			@refresh="refresh"
		/>
	</el-card>
</template>

<script>
import table from '~/mixins/table'

export default {
	mixins: [table],
	data() {
		return {
			url: '/api/unit',
			treeData: [],
		}
	},

	methods: {
		fetchData() {
			const params = { keyword: this.keyword }

			this.$axios
				.get(this.url, { params })
				.then((r) => {
					this.treeData = r.data
				})
				.catch((e) => {
					this.$message({
						message: e.response.data.message,
						type: 'error',
					})
				})
		},
	},
}
</script>


<style>
.custom-tree-node {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	padding-right: 8px;
}
</style>
