<template>
  <el-card :header="`ASSET MOVEMENT #${data.number}`">
    <table class="table table-sm">
      <tbody>
        <tr>
          <td>Nomor Berita Acara</td>
          <td>

            {{data.number}}

            <el-button class="ml-3" size="mini" type="text" icon="el-icon-printer" @click="printBeritaAcara">PRINT BERITA ACARA</el-button>
          </td>
        </tr>
        <tr> <td style="width:200px">Tanggal</td> <td>{{data.date}}</td> </tr>
        <tr> <td>Keterangan</td> <td>{{data.note}}</td> </tr>
        <tr> <td colspan="2"> <strong> PIHAK I </strong> </td> </tr>
        <tr> <td>Nama</td> <td>{{data.pihak1.nama}}</td> </tr>
        <tr> <td>Jabatan</td> <td>{{data.pihak1.jabatan}}</td> </tr>
        <tr> <td>Alamat</td> <td>{{data.pihak1.alamat}}</td> </tr>
        <tr> <td colspan="2"> <strong> PIHAK II </strong> </td> </tr>
        <tr> <td>Nama</td> <td>{{data.pihak2.nama}}</td> </tr>
        <tr> <td>Jabatan</td> <td>{{data.pihak2.jabatan}}</td> </tr>
        <tr> <td>Alamat</td> <td>{{data.pihak2.alamat}}</td> </tr>
      </tbody>
    </table>

    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>NO.</th>
          <th>NAMA BARANG</th>
          <th>MERK</th>
          <th>S/N</th>
          <th>MODEL</th>
          <th>WARNA</th>
          <th>JUMLAH</th>
          <th>KONDISI</th>
          <th>LOKASI</th>
          <th>KETERANGAN</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in data.items" :key="item.id">
          <td>{{index + 1}}</td>
          <td>{{item.asset.name}}</td>
          <td>{{item.trademark}}</td>
          <td>{{item.serial_number}}</td>
          <td>{{item.model}}</td>
          <td>{{item.color}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.status.name}}</td>
          <td>{{item.location.name}}</td>
          <td>{{item.remarks}}</td>
        </tr>
      </tbody>
    </table>
  </el-card>
</template>

<script>
export default {
  async asyncData({ params, $axios }) {
    const { data } = await $axios.get(`/api/assetMovement/${params.id}`)
    return { data };
  },

  methods: {
    printBeritaAcara() {
	    window.open(`${this.$axios.defaults.baseURL}/assetMovement/printBeritaAcara/${this.data.id}`);
    }
  }
}
</script>

<style>

</style>
