<template>
	<div class="d-flex" style="height: 100vh">
		<div class="flex-grow-1 bg"></div>
		<div
			style="
				width: 300px;
				background-color: #1d1d1d;
				text-align: center;
				padding: 20px;
				color: #fff;
			"
		>
			<el-image src="/logo.png"></el-image>
			<h1 style="margin-bottom: 0; margin-top: 40px">AMS</h1>
			Asset Management System
			<Nuxt />
			&copy; {{ new Date().getFullYear() }} - APS
		</div>
	</div>
</template>

<script>
export default {}
</script>

<style scoped>
.bg {
	background-image: url('/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
