<template>
	<el-dialog
    fullscreen
		title="ASSET MOVEMENT"
		:visible.sync="show"
		:before-close="closeForm"
		:close-on-click-modal="false"
	>
		<el-form label-position="top">
      <div class="row">
        <div class="col-6">
          <el-form-item :class="{ 'is-error': errors.date }">
            <div>Tanggal</div>
            <el-date-picker
              style="width: 100%"
              size="small"
              v-model="formModel.date"
              type="date"
              format="dd-MMM-yyyy"
              value-format="yyyy-MM-dd"
              placeholder="Date"
            ></el-date-picker>

            <div class="el-form-item__error" v-if="errors.date">
              {{ errors.date.join(', ') }}
            </div>
          </el-form-item>
        </div>

        <div class="col-6">
            <el-form-item>
              <div>Nomor Berita Acara</div>
              <el-input v-model="formModel.number" placeholder="Nomor Berita Acara" size="small"></el-input>
            </el-form-item>
        </div>
      </div>

			<el-form-item :class="{ 'is-error': errors.note }">
        <div>Note</div>
				<el-input
					size="small"
					type="textarea"
					rows="3"
					v-model="formModel.note"
					placeholder="Note"
				></el-input>

				<div class="el-form-item__error" v-if="errors.note">
					{{ errors.note.join(', ') }}
				</div>
			</el-form-item>

      <el-form-item>
        <div class="row">
          <div class="col-6">
            <div>PIHAK I</div>
            <el-input v-model="formModel.pihak1.nama" placeholder="Nama" class="mb-2"></el-input>
            <el-input v-model="formModel.pihak1.jabatan" placeholder="Jabatan" class="mb-2"></el-input>
            <el-input type="textarea" rows="3" v-model="formModel.pihak1.alamat" placeholder="Alamat" class="mb-2"></el-input>
          </div>

          <div class="col-6">
            <div>PIHAK II</div>
            <el-input v-model="formModel.pihak2.nama" placeholder="Nama" class="mb-2"></el-input>
            <el-input v-model="formModel.pihak2.jabatan" placeholder="Jabatan" class="mb-2"></el-input>
            <el-input type="textarea" rows="3" v-model="formModel.pihak2.alamat" placeholder="Alamat" class="mb-2"></el-input>
          </div>
        </div>

      </el-form-item>
		</el-form>

    <el-table :data="formModel.items">
      <el-table-column label="NAMA BARANG" width="300">
        <template slot-scope="scope">
          <el-select
					size="small"
					style="width: 100%"
					v-model="scope.row.asset_id"
					placeholder="Asset"
					filterable
					default-first-option
					remote
					clearable
					:remote-method="(q) => getList('/api/asset', q, 'assetList')"
          @change="(asset_id) => updateItem(asset_id, scope.$index)"
				>
					<el-option
						v-for="asset in assetList"
						:key="asset.id"
						:value="asset.id"
						:label="`${asset.tag_number} - ${asset.name}`"
					></el-option>
				</el-select>
        </template>
      </el-table-column>

      <el-table-column label="MERK" prop="trademark" min-width="150">
      </el-table-column>

      <el-table-column label="S/N" prop="serial_number" min-width="150">
      </el-table-column>

      <el-table-column label="MODEL" prop="model" min-width="150">
      </el-table-column>

      <el-table-column label="WARNA" prop="color" min-width="150">
      </el-table-column>

      <el-table-column label="JUMLAH" min-width="100">
        <template slot-scope="scope">
          <el-input v-model="scope.row.qty" type="number" size="small"></el-input>
        </template>
      </el-table-column>

      <el-table-column label="KONDISI" width="200">
        <template slot-scope="scope">
          <el-select
							size="small"
							style="width: 100%"
							v-model="scope.row.status_id"
							placeholder="Status"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="
								(q) => getList('/api/assetStatus', q, 'assetStatusList')
							"
						>
							<el-option
								v-for="status in assetStatusList"
								:key="status.id"
								:value="status.id"
								:label="status.name"
							></el-option>
						</el-select>
        </template>
      </el-table-column>

      <el-table-column label="LOKASI" width="250">
        <template slot-scope="scope">
          <el-select
							size="small"
							style="width: 100%"
							v-model="scope.row.location_id"
							placeholder="Lokasi"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="
								(q) => getList('/api/location', q, 'locationList')
							"
						>
							<el-option
								v-for="location in locationList"
								:key="location.id"
								:value="location.id"
								:label="location.name"
							></el-option>
						</el-select>
        </template>
      </el-table-column>

      <el-table-column label="KETERANGAN" width="200">
        <template slot-scope="scope">
          <el-input v-model="scope.row.remarks" type="textarea" size="small" autosize></el-input>
        </template>
      </el-table-column>

      <el-table-column width="50" align="center" header-align="center">
        <template slot="header">
          <el-button type="text" icon="el-icon-plus" @click="addItem"></el-button>
        </template>

        <template slot-scope="scope">
          <el-button type="text" icon="el-icon-delete" @click="deleteItem(scope.$index)"></el-button>
        </template>
      </el-table-column>

    </el-table>

		<div slot="footer">
			<el-button size="small" icon="el-icon-circle-close" @click="closeForm">
				CANCEL
			</el-button>

			<el-button
				size="small"
				type="primary"
				icon="el-icon-success"
				@click="submit(model.id)"
				:loading="loading"
			>
				{{ formModel.id ? 'UPDATE' : 'SAVE' }}
			</el-button>
		</div>
	</el-dialog>
</template>

<script>
import form from '~/mixins/form'
import dropdown from '~/mixins/dropdown'

export default {
	props: ['show', 'model', 'url'],
	mixins: [form, dropdown],
	computed: {
		formModel() {
			return this.model
		},
  },

  methods: {
    addItem() {
      this.formModel.items.push({
        asset_id: '',
        trademark: '',
        serial_number: '',
        model: '',
        color: '',
        status_id: null,
        location_id: null,
        qty: 1,
        remarks: null
      })
    },

    deleteItem(index) {
      this.formModel.items.splice(index, 1)
    },

    updateItem(asset_id, index) {
      const asset = this.assetList.find(a => a.id == asset_id);
      if (!asset) return;

      this.formModel.items[index].trademark = asset.trademark;
      this.formModel.items[index].serial_number = asset.serial_number;
      this.formModel.items[index].model = asset.model;
      this.formModel.items[index].color = asset.color;
      this.formModel.items[index].status_id = asset.status_id;
      this.formModel.items[index].location_id = asset.location_id;
      this.formModel.items[index].qty = asset.qty;
    }
  },

	mounted() {
		this.getList('/api/asset', '', 'assetList')
		this.getList('/api/assetStatus', '', 'assetStatusList')
		this.getList('/api/location', '', 'locationList')
	},
}
</script>
