<template>
	<el-dialog
		title="ASSET"
		width="80%"
		:visible.sync="show"
		:before-close="closeForm"
		:close-on-click-modal="false"
	>
		<el-form label-width="150px" label-position="left">
			<el-row :gutter="30">
				<el-col :span="9">
					<!-- <el-form-item
						label="Registration Number"
						:class="{ 'is-error': errors.registration_number }"
					>
						<el-input
							size="small"
							v-model="formModel.registration_number"
							placeholder="Registration Number"
						></el-input>

						<div class="el-form-item__error" v-if="errors.registration_number">
							{{ errors.registration_number.join(', ') }}
						</div>
					</el-form-item> -->

					<el-form-item label="Name*" :class="{ 'is-error': errors.name }">
						<el-input
							size="small"
							v-model="formModel.name"
							placeholder="Name"
						></el-input>

						<div class="el-form-item__error" v-if="errors.name">
							{{ errors.name.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Category">
						<el-select
							size="small"
							style="width: 100%"
							v-model="formModel.asset_category_id"
							placeholder="Category"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="
								(q) => getList('/api/assetCategory', q, 'assetCategoryList')
							"
						>
							<el-option
								v-for="category in assetCategoryList"
								:key="category.id"
								:value="category.id"
								:label="`${category.golongan}.${category.bidang}.${category.kelompok}.${category.sub_kelompok}.${category.sub_sub_kelompok} - ${category.name}`"
							></el-option>
						</el-select>

						<div class="el-form-item__error" v-if="errors.asset_category_id">
							{{ errors.asset_category_id.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item
						label="Trademark"
						:class="{ 'is-error': errors.trademark }"
					>
						<el-input
							size="small"
							v-model="formModel.trademark"
							placeholder="Trademark"
						></el-input>

						<div class="el-form-item__error" v-if="errors.trademark">
							{{ errors.trademark.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Model*" :class="{ 'is-error': errors.model }">
						<el-input
							size="small"
							v-model="formModel.model"
							placeholder="Model"
						></el-input>

						<div class="el-form-item__error" v-if="errors.model">
							{{ errors.model.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Color" :class="{ 'is-error': errors.color }">
						<el-input
							size="small"
							v-model="formModel.color"
							placeholder="Color"
						></el-input>

						<div class="el-form-item__error" v-if="errors.color">
							{{ errors.color.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item
						label="Serial Number*"
						:class="{ 'is-error': errors.serial_number }"
					>
						<el-input
							size="small"
							v-model="formModel.serial_number"
							placeholder="Serial Number"
						></el-input>

						<div class="el-form-item__error" v-if="errors.serial_number">
							{{ errors.serial_number.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item
						label="Part Number"
						:class="{ 'is-error': errors.part_number }"
					>
						<el-input
							size="small"
							v-model="formModel.part_number"
							placeholder="Part Number"
						></el-input>

						<div class="el-form-item__error" v-if="errors.part_number">
							{{ errors.part_number.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item
						label="Price (IDR)"
						:class="{ 'is-error': errors.price }"
					>
						<el-input
							type="number"
							size="small"
							v-model="formModel.price"
							placeholder="Price (IDR)"
						></el-input>

						<div class="el-form-item__error" v-if="errors.price">
							{{ errors.price.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Qty" :class="{ 'is-error': errors.qty }">
						<el-input
							type="number"
							size="small"
							v-model="formModel.qty"
							placeholder="Qty"
						></el-input>

						<div class="el-form-item__error" v-if="errors.qty">
							{{ errors.qty.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item
						label="Nomor Invoice"
						:class="{ 'is-error': errors.invoice_number }"
					>
						<el-input
							size="small"
							v-model="formModel.invoice_number"
							placeholder="Nomor Invoice"
						></el-input>

						<div class="el-form-item__error" v-if="errors.invoice_number">
							{{ errors.invoice_number.join(', ') }}
						</div>
					</el-form-item>
				</el-col>

				<el-col :span="9">
					<el-form-item
						label="Value (IDR)"
						:class="{ 'is-error': errors.value }"
					>
						<el-input
							type="number"
							size="small"
							v-model="formModel.value"
							placeholder="Value (IDR)"
						></el-input>

						<div class="el-form-item__error" v-if="errors.value">
							{{ errors.value.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item
						label="Lifetime (Year)"
						:class="{ 'is-error': errors.lifetime }"
					>
						<el-input
							type="number"
							size="small"
							v-model="formModel.lifetime"
							placeholder="Lifetime (Year)"
						></el-input>

						<div class="el-form-item__error" v-if="errors.lifetime">
							{{ errors.lifetime.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Year*" :class="{ 'is-error': errors.year }">
						<el-input
							type="number"
							size="small"
							v-model="formModel.year"
							placeholder="Year"
						></el-input>

						<div class="el-form-item__error" v-if="errors.year">
							{{ errors.year.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Location*">
						<el-select
							size="small"
							style="width: 100%"
							v-model="formModel.location_id"
							placeholder="Location"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="
								(q) => getList('/api/locationList', q, 'locationList')
							"
						>
							<el-option
								v-for="location in locationList"
								:key="location.id"
								:value="location.id"
								:label="location.name"
							></el-option>
						</el-select>

						<div class="el-form-item__error" v-if="errors.location_id">
							{{ errors.location_id.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Unit*">
						<el-select
							size="small"
							style="width: 100%"
							v-model="formModel.unit_id"
							placeholder="Unit"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="(q) => getList('/api/unitList', q, 'unitList')"
						>
							<el-option
								v-for="unit in unitList"
								:key="unit.id"
								:value="unit.id"
								:label="unit.name"
							></el-option>
						</el-select>

						<div class="el-form-item__error" v-if="errors.unit_id">
							{{ errors.unit_id.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Uselife" :class="{ 'is-error': errors.uselife }">
						<el-date-picker
							style="width: 100%"
							size="small"
							v-model="formModel.uselife"
							type="date"
							format="dd-MMM-yyyy"
							value-format="yyyy-MM-dd"
							placeholder="Uselife"
						></el-date-picker>

						<div class="el-form-item__error" v-if="errors.uselife">
							{{ errors.uselife.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Type" :class="{ 'is-error': errors.type }">
						<el-select
							v-model="formModel.type"
							placeholder="Type"
							size="small"
							style="width: 100%"
							filterable
							default-first-option
							allow-create
						>
							<el-option label="OWN" value="OWN"></el-option>
							<el-option label="RENT" value="RENT"></el-option>
						</el-select>

						<div class="el-form-item__error" v-if="errors.type">
							{{ errors.type.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Vendor">
						<el-select
							size="small"
							style="width: 100%"
							v-model="formModel.vendor_id"
							placeholder="Vendor"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="
								(q) => getList('/api/vendorList', q, 'vendorList')
							"
						>
							<el-option
								v-for="vendor in vendorList"
								:key="vendor.id"
								:value="vendor.id"
								:label="vendor.name"
							></el-option>
						</el-select>

						<div class="el-form-item__error" v-if="errors.vendor_id">
							{{ errors.vendor_id.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Status">
						<el-select
							size="small"
							style="width: 100%"
							v-model="formModel.status_id"
							placeholder="Status"
							filterable
							default-first-option
							remote
							clearable
							:remote-method="
								(q) => getList('/api/assetStatus', q, 'assetStatusList')
							"
						>
							<el-option
								v-for="status in assetStatusList"
								:key="status.id"
								:value="status.id"
								:label="status.name"
							></el-option>
						</el-select>

						<div class="el-form-item__error" v-if="errors.status_id">
							{{ errors.status_id.join(', ') }}
						</div>
					</el-form-item>

					<el-form-item label="Remark" :class="{ 'is-error': errors.remark }">
						<el-input
							type="textarea"
							size="small"
							v-model="formModel.remark"
							placeholder="Remark"
						></el-input>

						<div class="el-form-item__error" v-if="errors.remark">
							{{ errors.remark.join(', ') }}
						</div>
					</el-form-item>
				</el-col>

				<el-col :span="6">
					<div
						@drop.prevent="dropHandler"
						@dragenter.prevent
						@dragover.prevent
						@click="clickHandler"
						class="file-drop"
					>
						<img
							v-if="formModel.picture_url"
							:src="formModel.picture_url"
							style="width: 100%"
						/>
						<div v-else style="padding: 50px 10px 0 10px">
							<i class="el-icon-upload" style="font-size: 50px"></i>
							<div class="el-upload__text">
								Drop file here or <em>click to upload</em>
							</div>
						</div>
					</div>

					<div class="mt-3 text-center" v-if="formModel.picture_url">
						<el-button
							icon="el-icon-remove"
							type="danger"
							size="mini"
							@click="removeFile"
							>Remove Picture</el-button
						>
					</div>
				</el-col>
			</el-row>
		</el-form>

		<div slot="footer">
			<el-button size="small" icon="el-icon-circle-close" @click="closeForm">
				CANCEL
			</el-button>

			<el-button
				size="small"
				type="primary"
				icon="el-icon-success"
				@click="submit(model.id)"
				:loading="loading"
			>
				{{ formModel.id ? 'UPDATE' : 'SAVE' }}
			</el-button>
		</div>
	</el-dialog>
</template>

<script>
import form from '~/mixins/form'
import dropdown from '~/mixins/dropdown'

export default {
	props: ['show', 'model', 'url'],
	mixins: [form, dropdown],

	computed: {
		formModel() {
			return this.model
		},
	},

	methods: {
		removeFile() {
			this.formModel.picture = null
			this.formModel.picture_url = ''
		},

		clickHandler(ev) {
			const el = document.createElement('input')
			el.type = 'file'

			el.addEventListener('change', (event) => {
				this.uploadFile(event.target.files[0])
			})

			el.click()
		},

		dropHandler(ev) {
			if (ev.dataTransfer.items) {
				for (var i = 0; i < ev.dataTransfer.items.length; i++) {
					// If dropped items aren't files, reject them
					if (ev.dataTransfer.items[i].kind === 'file') {
						var file = ev.dataTransfer.items[i].getAsFile()
						this.uploadFile(file)
						break
					}
				}
			} else {
				this.uploadFile(ev.dataTransfer.files[0])
			}
		},

		uploadFile(file) {
			let formData = new FormData()
			formData.append('file', file)

			this.$axios
				.$post('/api/upload', formData, {
					headers: { 'Content-Type': 'multipart/form-data' },
				})
				.then((r) => {
					this.$message({ message: r.message, type: 'success' })
					this.formModel.picture = r.path
					this.formModel.picture_url = r.url
					this.$forceUpdate()
				})
				.catch((e) => {
					const status = e.response.status

					if (status == 413) {
						message = this.$t('Failed to upload document. File too big.')
					}

					if (status == 422) {
						message = e.response.data.errors.file.join(', ')
					}

					if (status == 500) {
						message = e.response.data.message
					}

					this.$message({
						message: message,
						type: 'error',
						showClose: true,
						duration: 10000,
					})
				})
		},
	},
	mounted() {
		this.getList('/api/assetCategory', '', 'assetCategoryList')
		this.getList('/api/assetStatus', '', 'assetStatusList')
		this.getList('/api/locationList', '', 'locationList')
		this.getList('/api/unitList', '', 'unitList')
		this.getList('/api/vendorList', '', 'vendorList')
	},
}
</script>

<style scoped>
.file-drop {
	min-height: 200px;
	border: 1px dashed #ddd;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}

.file-drop:hover {
	border-color: blue;
}
</style>
