<template>
  <Chart :options="barOptions" />
</template>


<script>
  import {
    Chart
  } from 'highcharts-vue'
  
  export default {
    components: {
      Chart
    },
    watch: {
        data(v) {
            this.barOptions.series[0].data = v
        }
    },
    props: ['title','data'],
    data() {
      return {
        barOptions: {
          chart: {
            type: 'column'
          },
          title: {
            text: this.title
          },
          subtitle: {
            // text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
          },
          accessibility: {
            announceNewData: {
              enabled: true
            }
          },
          xAxis: {
            type: 'category'
          },
          yAxis: {
            title: {
              text: 'Total percent Asset share'
            }

          },
          legend: {
            enabled: false
          },
          plotOptions: {
            series: {
              borderWidth: 0,
              dataLabels: {
                enabled: true,
                format: '{point.y:.f}'
              }
            }
          },

          tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.1f}</b> of total<br/>'
          },

          series: [{
            name: "Browsers",
            colorByPoint: true,
            data: this.data,
          }],
          drilldown: {
            series: [
            ]
          },
          credits: {
                enabled: false
          }
        }
      }
    },
  }

</script>
