<template>
  <el-card class="box-card">
    <el-row>
      <el-col :span="12">
        <div class="grid-a">
          <h1>{{this.jumlah}}</h1>
          <span>{{this.name}}</span>
        </div>
      </el-col>
      <el-col :span="12">
        <div class="grid-b">
            <i :class="icon"></i>
        </div>
      </el-col>
      </el-row>
  </el-card>
</template>

<script>
export default {
    props: ['jumlah', 'name', 'icon']
}
</script>

<style>
.grid-b {
  font-size: 70px;
  text-align: center;
}

.grid-a {
  margin-top: 15px;
}
</style>
