
<template>
	<div style="position: relative">
		<div
			style="
				position: absolute;
				bottom: 12px;
				left: 12px;
				z-index: 1000;
				background: rgba(255, 255, 255, 0.8);
				padding: 5px;
				font-size: 12px;
			"
		>
			<div
				v-for="s in summary"
				:key="s.name"
				class="d-flex"
				style="width: 180px; line-height: 15px"
			>
				<div
					:style="`background-color:${colors[s.name]}; width:15px;height:15px;`"
				>
					&nbsp;
				</div>
				<div class="ml-1 flex-grow-1">
					{{ s.name }}
				</div>
				<div class="tetx-right">{{ s.total }}</div>
			</div>
		</div>
		<l-map :zoom="zoom" :center="center" style="height: 500px; width: 100%">
			<l-tile-layer :url="url" />
			<l-geo-json
				v-if="show"
				:geojson="geojson"
				:options="options"
				:options-style="styleFunction"
			/>
		</l-map>
	</div>
</template>

<script>
import { latLng } from 'leaflet'
import { LMap, LTileLayer, LMarker, LGeoJson } from 'vue2-leaflet'

export default {
	name: 'Example',
	components: {
		LMap,
		LTileLayer,
		LGeoJson,
		LMarker,
	},
	data() {
		return {
			loading: false,
			show: true,
			enableTooltip: true,
			zoom: 5,
			center: [-1.681488, 113.382355],
			geojson: null,
			//fillColor: "red",
			url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
			attribution: false,
			marker: latLng(47.41322, -1.219482),
			summary: [],
			colors: {
				ACEH: '#0000FF',
				BALI: 'blue',
				BANTEN: '#DC143C',
				BENGKULU: '#8B0000',
				'DI YOGYAKARTA': '#9ACD32',
				'DKI JAKARTA': '#9400D3',
				GORONTALO: 'yellow',
				JAMBI: 'red',
				'JAWA BARAT': '#9400D3',
				'JAWA TENGAH': '#FFD700',
				'JAWA TIMUR': '#808000',
				'KALIMANTAN BARAT ': 'red',
				'KALIMANTAN SELATAN': 'yellow',
				'KALIMANTAN TENGAH': 'purple',
				'KALIMANTAN TIMUR': 'green',
				'KALIMANTAN UTARA': 'blue',
				'SUMATRA UTARA': 'orange',
				'KEPULAUAN BANGKA BELITUNG': 'yellow',
				'KALIMANTAN RIAU': 'grey',
				LAMPUNG: 'pink',
				MALUKU: 'black',
				'MALUKU UTARA': 'yellow',
				'NUSA TENGGARA BARAT': 'red',
				'NUSA TENGGARA TIMUR': 'purple',
				PAPUA: 'green',
				'PAPUA BARAT': 'blue',
				RIAU: 'orange',
				'SULAWESI BARAT': 'brown',
				'SULAWESI TENGAH': 'pink',
				'SULAWESI TENGGARA': '#9400D3',
				'SULAWESI UTARA': 'yellow',
				'SUMATERA BARAT': 'red',
				'SUMATERA SELATAN': '#D2691E',
			},
		}
	},
	computed: {
		options() {
			return {
				onEachFeature: this.onEachFeatureFunction,
			}
		},
		styleFunction() {
			const fillColor = this.fillColor // important! need touch fillColor in computed for re-calculate when change fillColor

			return (feature, layer) => {
				return {
					weight: 2,
					color: this.colors[feature.properties.name],
					opacity: 1,
					fillColor: fillColor,
					//fillOpacity: 1
				}
			}
		},

		onEachFeatureFunction() {
			if (!this.enableTooltip) {
				return () => {
					//alert('sdsdsds')
				}
			}
			return (feature, layer) => {
				//console.log(feature.properties.name)
				//layer.color('red')
				layer.bindTooltip(
					'<div>Provinsi:' +
						feature.properties.name +
						'</div><div>Total Asset:  ' +
						feature.properties.total +
						'</div>',
					{ permanent: true, sticky: true }
				)
			}
		},
	},

	async created() {
		this.loading = true
		const response = await this.$axios.$get(
			'/api/report/mapcart'
			//"https://jaga.id/api/v5/korsupgah/map_geojson?level=nasional&year=2018&showLabel=false"
			//"https://rawgit.com/gregoiredavid/france-geojson/master/regions/pays-de-la-loire/communes-pays-de-la-loire.geojson"
		)

		const data = await response.data

		this.summary = data.features.map((f) => {
			const { name, total } = f.properties
			return { name, total }
		})

		this.geojson = data
		this.loading = false
	},
}
</script>
