<template>
  <l-marker :lat-lng="markerLatLng">
      <l-popup>{{this.name}} : {{this.totalqty}}</l-popup>
  </l-marker>
</template>

<script>
  import {
    LMap,
    LTileLayer,
    LMarker,
    LPopup
  } from 'vue2-leaflet';

  export default {
    components: {
      LMap,
      LTileLayer,
      LMarker,
      LPopup
    },
     watch: {
        data(v) {
            this.markerLatLng = v
        }
    },
    props: ['data','name','totalqty'],
    data() {
      return {
        url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
        zoom: 14,
        center: [-6.1222698, 106.6501528],
        markerLatLng: this.data,

      };
    }
  }

</script>
