<template>
  <Chart :options="chartOptions"/>
</template>

<script>
import {
    Chart
  } from 'highcharts-vue'

export default {
    components : { Chart },
    props: ['data', 'title'],

    watch: {
        data(v) {
            this.chartOptions.series[0].data = v
        }
    },
    
    data() {
        return {
            chartOptions: {
                chart: {
                type: 'column'
                },
                title: {
                text: this.title
                },
                subtitle: {
                // text: 'Click the columns to view versions. Source: <a href="http://statcounter.com" target="_blank">statcounter.com</a>'
                },
                accessibility: {
                announceNewData: {
                    enabled: true
                }
                },
                xAxis: {
                type: 'category'
                },
                yAxis: {
                title: {
                    text: 'Jumlah'
                }

                },
                legend: {
                enabled: false
                },
                plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                    enabled: true,
                    format: '{point.y}'
                    }
                }
                },

                tooltip: {
                // headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                // pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                },

                series: [{
                name: 'Jumlah',
                data: this.data
                }],
                credits: {
                enabled: false
                }
            },
        }
    }
}
</script>

<style>

</style>