<template>
  <Chart :options="pieOptions"/>
</template>


<script>
  import {
    Chart
  } from 'highcharts-vue'

  export default {
    components: {
      Chart
    },
    props: ['title','data'],
    watch: {
        data(v) {
            this.pieOptions.series[0].data = v
        }
    },
    data() {
      return {
        pieOptions: {
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
          },
          title: {
            text: this.title
          },
          tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
          },
          accessibility: {
            point: {
              valueSuffix: '%'
            }
          },
          plotOptions: {
            pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                enabled: false
              },
              showInLegend: true
            }
          },
          series: [{
            name: 'ASSET',
            colorByPoint: true,
            data: this.data
          }],
          credits: {
                enabled: false
          }
        }
      }
    },
  }

</script>
