<template>
    <l-polygon :lat-lngs="polygon.latlngs" :color="polygon.color"></l-polygon>
</template>

<script>
  import {
    LMap,
    LTileLayer,
    LMarker,
    LPopup,
    LPolygon
  } from 'vue2-leaflet';

  export default {
    components: {
      LMap,
      LTileLayer,
      LMarker,
      LPopup,
      LPolygon
    },
    watch: {
      data(v) {
        this.markerLatLng = v
      }
    },
    props: ['data', 'name', 'totalqty'],
    data() {
      return {

        polygon: {
          latlngs:  [
               [
                        110.82982330000004,
                        -8.201424799999927
                     ],
                     [
                        110.79019160000007,
                        -8.158304199999975
                     ],
                     [
                        110.76833340000007,
                        -7.980164
                     ],
                     [
                        110.78558350000009,
                        -7.817247399999928
                     ],
                     [
                        110.72391890000006,
                        -7.794428599999947
                     ],
                     [
                        110.62667850000008,
                        -7.802852599999937
                     ],
                     [
                        110.49176790000007,
                        -7.766805199999965
                     ],
                     [
                        110.44607540000004,
                        -7.5418973
                     ],
                     [
                        110.3041,
                        -7.654914399999939
                     ],
                     [
                        110.14354640000005,
                        -7.645204799999931
                     ],
                     [
                        110.11270490000004,
                        -7.776911
                     ],
                     [
                        110.002989,
                        -7.888020399999959
                     ],
                     [
                        110.21141140000009,
                        -7.986745299999939
                     ],
                     [
                        110.344426,
                        -8.030248
                     ],
                     [
                        110.375226,
                        -8.071614
                     ],
                     [
                        110.607087,
                        -8.146857
                     ],
                     [
                        110.712613,
                        -8.197831
                     ],
                     [
                        110.82982330000004,
                        -8.201424799999927
                     ]
              
          ],
                 
          color: 'red'
        },
      };
    }
  }

</script>
