<template>
	<el-dialog
		title="POFILE"
		width="500px"
		:visible.sync="show"
		:before-close="closeForm"
		:close-on-click-modal="false"
	>
		<el-form label-width="180px" label-position="left">
			<el-form-item label="Name" :class="{ 'is-error': errors.name }">
				<el-input
					size="small"
					v-model="formModel.name"
					placeholder="Name"
				></el-input>

				<div class="el-form-item__error" v-if="errors.name">
					{{ errors.name.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Email" :class="{ 'is-error': errors.email }">
				<el-input
					size="small"
					v-model="formModel.email"
					placeholder="Email"
				></el-input>

				<div class="el-form-item__error" v-if="errors.email">
					{{ errors.email.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Password" :class="{ 'is-error': errors.password }">
				<el-input
					type="password"
					size="small"
					v-model="formModel.password"
					placeholder="Password"
				></el-input>

				<div class="el-form-item__error" v-if="errors.password">
					{{ errors.password.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item
				label="Password Confirmation"
				:class="{ 'is-error': errors.password_confirmation }"
			>
				<el-input
					type="password"
					size="small"
					v-model="formModel.password_confirmation"
					placeholder="Password"
				></el-input>

				<div class="el-form-item__error" v-if="errors.password_confirmation">
					{{ errors.password_confirmation.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Role">
				<el-select
					size="small"
					style="width: 100%"
					v-model="formModel.role"
					placeholder="Role"
					filterable
					default-first-option
					disabled
				>
					<el-option :value="10" label="ADMIN"></el-option>
					<el-option :value="20" label="FINANCE"></el-option>
					<el-option :value="30" label="PURCHASING"></el-option>
				</el-select>

				<div class="el-form-item__error" v-if="errors.role">
					{{ errors.role.join(', ') }}
				</div>
			</el-form-item>
		</el-form>

		<div slot="footer">
			<el-button size="small" icon="el-icon-circle-close" @click="closeForm">
				CANCEL
			</el-button>

			<el-button
				size="small"
				type="primary"
				icon="el-icon-success"
				@click="submit(model.id)"
				:loading="loading"
			>
				{{ formModel.id ? 'UPDATE' : 'SAVE' }}
			</el-button>
		</div>
	</el-dialog>
</template>

<script>
import form from '~/mixins/form'
import dropdown from '~/mixins/dropdown'

export default {
	props: ['show', 'model', 'url'],
	mixins: [form, dropdown],

	data() {
		return {
			formModel: JSON.parse(JSON.stringify(this.model)),
		}
	},

	mounted() {
		this.getList('/api/userGroup', '', 'userGroupList')
	},
}
</script>
