<template>
  <Chart :options="stackedOptions" />
</template>


<script>
//console.log(data);
  import {
    Chart
  } from 'highcharts-vue'

  export default {
    components: {
      Chart
    },
     watch: {
        data(v) {
            this.stackedOptions.series = v
        },
        data2(x) {
            this.stackedOptions.xAxis.categories = x
        }
    },
    props: ['title','data','data2','categoris'],

    data() {
      return {
        stackedOptions: {
          chart: {
            type: 'bar'
          },
          title: {
            text: this.title
          },
          xAxis: {
            categories: this.data2

          },
          yAxis: {
            min: 0,
            title: {
              text: 'Total asset consumption'
            }
          },
          legend: {
            reversed: true
          },
          plotOptions: {
            series: {
              stacking: 'normal'
            }
          },
          series: this.data,
          credits: {
                enabled: false
          }
        }
      }
    },
  }

</script>
