<template>
	<el-dialog
		title="Unit"
		width="500px"
		:visible.sync="show"
		:before-close="closeForm"
		:close-on-click-modal="false"
	>
		<el-form label-width="150px" label-position="left">
			<el-form-item label="Code" :class="{ 'is-error': errors.code }">
				<el-input
					size="small"
					v-model="formModel.code"
					placeholder="Code"
				></el-input>

				<div class="el-form-item__error" v-if="errors.code">
					{{ errors.code.join(', ') }}
				</div>
			</el-form-item>

      <el-form-item label="Cost Center Code" :class="{ 'is-error': errors.cost_center_code }">
				<el-input
					size="small"
					v-model="formModel.cost_center_code"
					placeholder="Cost Center Code"
				></el-input>

				<div class="el-form-item__error" v-if="errors.cost_center_code">
					{{ errors.cost_center_code.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Name" :class="{ 'is-error': errors.name }">
				<el-input
					size="small"
					v-model="formModel.name"
					placeholder="Name"
				></el-input>

				<div class="el-form-item__error" v-if="errors.name">
					{{ errors.name.join(', ') }}
				</div>
			</el-form-item>

			<!-- <el-form-item label="Parent">
				<el-select
					size="small"
					style="width: 100%"
					v-model="formModel.parent_id"
					placeholder="Parent"
					filterable
					default-first-option
					remote
					clearable
					:remote-method="(q) => getList('/api/unit', q, 'unitList')"
				>
					<el-option
						v-for="unit in unitList"
						:key="unit.id"
						:value="unit.id"
						:label="unit.name"
					></el-option>
				</el-select>

				<div class="el-form-item__error" v-if="errors.parent_id">
					{{ errors.parent_id.join(', ') }}
				</div>
			</el-form-item> -->
		</el-form>

		<div slot="footer">
			<el-button size="small" icon="el-icon-circle-close" @click="closeForm">
				CANCEL
			</el-button>

			<el-button
				size="small"
				type="primary"
				icon="el-icon-success"
				@click="submit(model.id)"
				:loading="loading"
			>
				{{ formModel.id ? 'UPDATE' : 'SAVE' }}
			</el-button>
		</div>
	</el-dialog>
</template>

<script>
import form from '~/mixins/form'

export default {
	props: ['show', 'model', 'url'],
	mixins: [form],
	computed: {
		formModel() {
			return this.model
		},
	},
}
</script>
