<template>
	<el-dialog
		title="VENDOR"
		width="500px"
		:visible.sync="show"
		:before-close="closeForm"
		:close-on-click-modal="false"
	>
		<el-form label-width="100px" label-position="left">
			<el-form-item label="Name" :class="{ 'is-error': errors.name }">
				<el-input
					size="small"
					v-model="formModel.name"
					placeholder="Name"
				></el-input>

				<div class="el-form-item__error" v-if="errors.name">
					{{ errors.name.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Phone" :class="{ 'is-error': errors.phone }">
				<el-input
					size="small"
					v-model="formModel.phone"
					placeholder="Phone"
				></el-input>

				<div class="el-form-item__error" v-if="errors.phone">
					{{ errors.phone.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Email" :class="{ 'is-error': errors.email }">
				<el-input
					size="small"
					v-model="formModel.email"
					placeholder="Email"
				></el-input>

				<div class="el-form-item__error" v-if="errors.email">
					{{ errors.email.join(', ') }}
				</div>
			</el-form-item>

			<el-form-item label="Addess" :class="{ 'is-error': errors.address }">
				<el-input
					type="textarea"
					size="small"
					v-model="formModel.address"
					placeholder="Addess"
				></el-input>

				<div class="el-form-item__error" v-if="errors.address">
					{{ errors.address.join(', ') }}
				</div>
			</el-form-item>
		</el-form>

		<div slot="footer">
			<el-button size="small" icon="el-icon-circle-close" @click="closeForm">
				CANCEL
			</el-button>

			<el-button
				size="small"
				type="primary"
				icon="el-icon-success"
				@click="submit(model.id)"
				:loading="loading"
			>
				{{ formModel.id ? 'UPDATE' : 'SAVE' }}
			</el-button>
		</div>
	</el-dialog>
</template>

<script>
import form from '~/mixins/form'

export default {
	props: ['show', 'model', 'url'],
	mixins: [form],
	computed: {
		formModel() {
			return this.model
		},
	},
}
</script>
